<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/intern.css">
    
    <title>Internship project</title>
</head>

<body>
    <main>
        <!--Landing Area-->
        <div id="landing">
            <div id="landing-text">
                <div id="landing-text-inner">
                    <h1>InternShip Website</h1>
                    <h2>Click below to see Internship Certificate</h2>
                    <a href="https://drive.google.com/file/d/1bCrvSRuZmR7N82cGS3RABiQ_CT_9zYo2/view?usp=sharing" class="btn" id="view-work">
                        Click Here
                    </a>
                </div>
            </div>
            <div id="landing-image"></div>
        </div>
        <div id="images">
            <div id="header">
                <h2>My Work</h2>
            </div>

            <img src="../images/signupI.png" alt="nature image">
            <div class="caption">
                <h3>Signup</h3>
                <p>A User can register to login in application</p>
            </div>
            <img src="../images/loginI.png
            " alt="nature image">
            <div class="caption">
                <h3>Login</h3>
                <p>Through here user can login in application </p>
            </div>
            <img src="../images/homeI.png
            " alt="nature image">
            <div class="caption">
                <h3>Dashboard</h3>
                <p>In Dashboard there are multiple plant that we can buy</p>
            </div>
            <img src="../images/missionI.png
            " alt="nature image">
            <div class="caption">
                <h3>Mission</h3>
                <p>This page shows the mission of our team regarding to the environment</p>
            </div>
            <img src="../images/TeamI.png
            " alt="nature image">
            <div class="caption">
                <h3>Team</h3>
                <p>Here it will show the all member who have worked in this project</p>
            </div>
        </div>
    </main>

    <footer>
        <h3>Internship Experiences</h3>
        <p>
            During my internship at COMPSOFT TECHNOLOGIES Bangalore, 
            I had the privilege of being part of a dynamic 4-member team that successfully developed the static website </br>"LEAF NOW." As the team leader,
            I gained valuable experience in collaborating effectively and learned how to function seamlessly within a team.
            The website</br></br> "LEAF NOW" is an e-commerce platform dedicated to promoting environmental awareness. 
        </br></br>
            Users can easily register and log in to the website, where they can engage in buying and selling various plants. Through this project, 
    
            I honed my skills in web development </br></br>and gained a deeper understanding of designing for a cause that aligns with environmental consciousness.
            
            I am excited to add this project to my portfolio as it exemplifies</br></br> my ability to work collaboratively, 
        
            lead a team, and contribute to a meaningful cause through technology.
            </p>
    </footer>

</body>
 
</html>